.property-name {
    font-size: 2.5rem;
    font-weight: bold;
}

.photo-box-img {
    height: 400px
}

.photo-box-info {
    /*background-color: #F4F8F9;*/
    padding: 15px;
}

.photo-box-item-value {
    /*color:#2788F8;*/
    font-size: 23px;
}

.photo-box-item-text {
    color: #13367B;
    font-size: 14px;
    text-transform: uppercase;
}
.photo-box-thumbs.list-inline--images img{
        max-height: unset;
}

.card-percent-value {
    font-size: 20px;
}

.property-values-value {
    font-size: 20px;
}

.property-values-text {
    color: #B1B2B3;
    font-size: 12px;
}

.property-progress-small .property-funded-values {
    font-size: 18px;
}
.property-price {
    font-size: 35px;
    font-weight: 600;
    /*text-align:right;*/
    color: #12367b;
}

.property-funded {
    font-size: 18px;
}

.property-funded-values {
    font-size: 25px;
}

.progress {
    height: 13px
}

.progress-bar {
    background-image: linear-gradient(to right, #373B44, #4286f4);
    height: 13px
}


.photo-box-indicator .photo-indicators-img {
    height: 80px;
    cursor: pointer;
}

.photo-box-indicator .list-inline li:not(:last-child) {
    margin-right: 0.85714286em;
}

.photo-box-indicator .list-inline-item {
    -webkit-transition: width 2s, height 4s;
    /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;
    margin-top: 0.7rem;
    margin-right: 0.1rem;
}

.photo-box-indicator .list-inline .active {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, .25);
}

/*.photo-box-indicator .list-inline .active img{
    width: 100px;
    height: 80px;
}*/

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
    color: #4a4a4a;
}

.tabs li:not(.active) {
    opacity: 1;
}

/* ------- property-specs ------   */

.property-specs-item {
    height: 55px;
    width: 180px;
}

.property-specs-icon img {
    height: 50px
}

.property-specs-text {
    font-size: 16px;
    font-weight: 400;
    color: #9b9b9b;
}

.property-specs-value {
    /*font-family: SourceSansPro;*/
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

/*------- property-docs ----------*/

.property-docs-item {
    text-align: center;
    min-width: 150px;
    padding: 15px;
    min-width: 150px;
}

.property-docs-text {
    font-size: 14px;
    font-weight: 600;
    color: #9b9b9b;
}

/*------- share-deals ----------*/

.share-deals {
    background-color: #f5f8fa;
    padding: 19px;
    font-size: 24px;
}